.full-width{
  width: 100%;
}

.profile {
  padding: 30px 20px;
}

.calendar-card-size {
  width: 40vw;
  max-height:81vh;
  overflow:scroll;
  max-height: auto;
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

mat-icon {
  color: rgb(224, 224, 0);
}
