<div class="mat-elevation-z8">
  <ng-container *ngIf="loading$ | async">
    <div class="overlay"></div>
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
  </ng-container>

  <table
    mat-table
    [dataSource]="students"
    class="w-100"
    matSort
    matSortActive="created"
    matSortDisableClear
    matSortDirection="desc"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let student">{{ student.id }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Nom d'utilisateur
      </th>
      <td mat-cell *matCellDef="let student">{{ student.username }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
      <td mat-cell *matCellDef="let student">{{ student.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom de famille</th>
      <td mat-cell *matCellDef="let student">{{ student.lastName }}</td>
    </ng-container>

    <ng-container *ngIf="isAdmin$ | async" matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rôle</th>
      <td mat-cell *matCellDef="let student">{{ student.role }}</td>
    </ng-container>

    <ng-container matColumnDef="averageRating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Note moyenne</th>
      <td mat-cell *matCellDef="let student">
        <mat-icon *ngIf="student.averageRating > 0; else starOutlined"
          >star</mat-icon
        >
        <mat-icon *ngIf="student.averageRating > 1; else starOutlined"
          >star</mat-icon
        >
        <mat-icon *ngIf="student.averageRating > 2; else starOutlined"
          >star</mat-icon
        >
        <mat-icon *ngIf="student.averageRating > 3; else starOutlined"
          >star</mat-icon
        >
        <mat-icon *ngIf="student.averageRating > 4; else starOutlined"
          >star</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="resultsLength"
    [pageIndex]="0"
    [pageSize]="50"
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<ng-template #starOutlined>
  <mat-icon>star_border</mat-icon>
</ng-template>
