<ng-container *ngIf="loading$ | async">
  <div class="overlay"></div>
  <mat-progress-spinner
    id="spinner-create-meeting"
    [mode]="'indeterminate'"
  ></mat-progress-spinner>
</ng-container>

<div class="d-flex justify-content-end">
  <button
    mat-fab
    color="primary"
    (click)="openDialog()"
    aria-label="Icon button to create a meeting."
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-list role="list">
  <div *ngFor="let meeting of meetings">
    <mat-list-item role="listitem">
      <h3 matLine>
        <span id="title">{{ meeting.title }}</span> -
        <span id="course">{{ meeting.courseName }}</span>
      </h3>
      <p matLine>
        <span id="from">{{
          meeting.startAt | date: "short":"+0200":"fr"
        }}</span>
        --
        <span id="to">{{ meeting.endAt | date: "short":"+0200":"fr" }}</span>

        <span class="demo-2"> -- {{ meeting.statusName }} </span>
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>
