<div class="mat-elevation-z8">
  <div class="loading-shade" *ngIf="isLoadingSections">
    <mat-spinner *ngIf="isLoadingSections"></mat-spinner>
  </div>

  <table
    mat-table
    [dataSource]="sectionsData"
    multiTemplateDataRows
    class="full-width-table"
    #outerSort="matSort"
    class="mat-elevation-z8"
    matSort
    matSortActive="created"
    matSortDisableClear
    matSortDirection="desc"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let section">{{ section.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
      <td mat-cell *matCellDef="let section">{{ section.title }}</td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let section"
        [attr.colspan]="columnsToDisplay.length"
      >
        <div class="example-element-detail">
          <div
            class="inner-table mat-elevation-z8"
            *ngIf="expanded && section.courses.length > 0"
          >
            <table
              #innerTables
              mat-table
              #innerSort="matSort"
              [dataSource]="coursesData"
              matSort
            >
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                <td mat-cell *matCellDef="let course">
                  {{ course.id }}
                </td>
              </ng-container>

              <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
                <td mat-cell *matCellDef="let course">
                  {{ course.label }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: innerDisplayedColumns"
              ></tr>
            </table>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnsToDisplay"
      (click)="toggleRow(row)"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>
  </table>
</div>
